.accordion.part {
	--item-pad-x: 2px; --item-pad-y: 3px;
	--acc-header-height: 40px;
	width: calc(var(--full) - var(--item-pad-x) * 3);
	height: calc(var(--full) - var(--item-pad-y) * 2)
}
.accordion.part .accordion.item {
	position: relative;
	width: calc(var(--full) - 0px);
	margin: var(--item-pad-y) var(--item-pad-x);
	border-radius: 10px; border: 2px solid rgba(0, 0, 0, .10);
	box-sizing: content-box;
	transition: 200ms ease
}
/*.accordion.part .accordion.item.expanded > .header > .collapsed-content,*/
.accordion.part .accordion.item:not(.expanded) > .content { display: none }
.accordion.part .accordion > .header {
	font-size: 110%; user-select: none; cursor: pointer;
	height: var(--acc-header-height); padding: 0 10px;
	border: 1px solid #ccc; border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	background: #f7f7f7; align-items: center;
}
.accordion.part .accordion.item:not(.expanded) > .header { background: #cecececc }
.accordion.part .accordion.item.expanded { }
.accordion.part .accordion.item.expanded:not(.disabled) > .header {
	/*background: #8eaafc;*/
	background: linear-gradient(90deg, #8eaafc 50%, #cececeee 85%);
	border-bottom: 1px solid rgba(0, 0, 0, 0.35)
}
.accordion.part .accordion.item.disabled { opacity: .4; pointer-events: none }
.accordion.part .accordion.item:hover:not(.disabled) {
	box-shadow: 0 3px 10px rgba(0, 200, 255, .12);
	border: 3px solid rgba(0, 0, 200, .20);
	transform: translateY(-1px)
}
.accordion.part .accordion.item:hover:not(.disabled) > .header {
	/*background: #7d9df9;
	border-bottom: 3px solid rgba(0, 50, 100, 0.35)*/
}
.accordion.part .accordion.item > .header > .title {
	font-weight: 600; color: #222; white-space: nowrap;
	overflow: hidden; text-overflow: ellipsis
}
.accordion.part .accordion.item > .header > .collapsed-content {
	font-size: 85%; color: #777;
	margin-left: auto; white-space: nowrap;
	overflow-y: auto !important
}
.accordion.part .accordion > .content {
	width: var(--full);
	height: calc(var(--full) - (var(--acc-header-height) + 2px));
	padding: 5px 2px; box-sizing: content-box;
	border-top: 2px solid rgba(0 200, 255, .8);
	overflow-x: hidden !important; overflow-y: auto !important
}
.accordion.part .accordion > .content > * {
	max-width: calc(var(--full) - var(--item-pad-x) * 3)
}

@media (max-width: 800px) {
	.accordion.part { --acc-header-height: 35px }
	.accordion.part .accordion.item > .header { line-height: 15px }
}
@media (max-width: 600px) {
	.accordion.part { --acc-header-height: 45px }
}
