/*.MQX.masterListe.part .header .islemTuslari button#x { width: 130px !important; margin-left: 20px }
.MQX.masterListe.part .jqx-grid [role = row] > .xyz.jqx-grid-cell:not(.jqx-grid-cell-selected) { font-weight: bold }*/
body.ESEApp.kiosk #root-parent > #ust-parent > #parent > main #anaMenu { display: block !important; text-align: center !important }
body.ESEApp.kiosk #root-parent > #ust-parent > #parent > main #anaMenu .hizliBul.part { display: none !important }
body.ESEApp.kiosk #root-parent > #ust-parent > #parent > main #anaMenu .menu.part { background: unset !important }
body.ESEApp.kiosk #root-parent > #ust-parent > #parent > main #anaMenu .items-parent { height: var(--full) !important; padding-top: 50px !important }
body.ESEApp.kiosk #root-parent > #ust-parent > #parent > main #anaMenu .items-parent .items { height: calc(var(--full) - 300px) !important }
body.ESEApp.kiosk #root-parent > #ust-parent > #parent > main #anaMenu .items-parent .items button:not(:first-child) { margin-left: 30px !important }
	body.ESEApp.kiosk #root-parent > #ust-parent > #parent > main #anaMenu .items-parent .items button { width: 330px !important; height: 160px !important; max-height: unset !important; padding: 0 !important; margin-bottom: 25px !important }
body.ESEApp.kiosk #root-parent > #ust-parent > #parent > main #anaMenu .items-parent .items button > * > * { margin-top: 13px !important }
body:not(.admin) #loginForm.loginPart.part button#ayarlar { display: none !important }
body:not(.admin) #loginForm.loginPart.part > .alt-form > div.row:nth-child(2) { display: none !important }
body:not(.admin) #loginForm.loginPart.part > .alt-form > div.row:nth-child(3) > h5 { display: none !important }
body:not(.admin) #loginForm.loginPart.part > .alt-form > div.row:nth-child(3):before { content: 'e-Mail' }
body:not(.admin) #loginForm.loginPart.part > .alt-form > div.row:nth-child(5) > h5 { display: none !important }
body:not(.admin) #loginForm.loginPart.part > .alt-form > div.row:nth-child(5):before { content: 'Onay Kodu' }
.part .dokumanForm, .part .skyResim.part #resim > .widget,
	.part .skyResim.part #resim > .widget .item > .content { background-color: #111 !important; margin: 0 !important; padding: 0 !important }
body.dark-theme .part .dokumanForm, .part .skyResim.part #resim > .widget,
	body.dark-theme .part .skyResim.part #resim > .widget .item > .content { filter: invert(1) hue-rotate(180deg) }
.part .skyResim.part { height: calc(var(--full) - 50px) !important }
.modelTanim.part > .form { margin-top: -55px } .modelTanim.part > .form [data-builder-id = kaForm] [data-builder-id = aciklama] { width: 500px !important }
.MQSablonCPT.modelTanim.part > .form [data-builder-id = grid-parent] { height: calc(var(--full) - 15px) !important }
.MQSablonAnket.modelTanim.part > .form [data-builder-id = grid-parent] { height: calc(var(--full) - 15px) !important }
body.dark-theme .MQSablonCPT.modelTanim.part > .form [data-builder-id = grid-parent] div[role = row] > .resim > *,
	body.dark-theme .MQSablonAnket.modelTanim.part > .form [data-builder-id = grid-parent] div[role = row] > .resim > * {
		filter: invert(1) hue-rotate(180deg) !important
	}
@media (max-width: 1000px) { .modelTanim.part > .form [data-builder-id = kaForm] [data-builder-id = aciklama] { width: 250px !important } }
@media print {
	body.dark-theme .part .dokumanForm, .part .skyResim.part #resim > .widget,
		body.dark-theme .part .skyResim.part #resim > .widget .item > .content,
		body.dark-theme .MQSablonCPT.modelTanim.part > .form [data-builder-id = grid-parent] div[role = row] > .resim > *,
		body.dark-theme .MQSablonAnket.modelTanim.part > .form [data-builder-id = grid-parent] div[role = row] > .resim > * { filter: invert(1) hue-rotate(180deg) }
}
.MQTest.part .jqx-window-content button:not([disabled]) { border: 2px solid forestgreen !important }
.MQTest.part .jqx-window-content button[disabled] { border: 2px solid firebrick !important }
.MQSablonAnket.part .jqx-grid [role = row] > .soru.jqx-grid-cell { text-wrap: pretty }
.MQSablonAnket.part .jqx-grid [role = row] > .soru.jqx-grid-cell > div { font-size: 93%; margin: 3px 8px !important }
.MQMuayene.masterListe.part .islemTuslari #cptTestEkraniAc { margin-left: 10px }
.MQTest.masterListe.part .islemTuslari button#degistir { margin-left: 20px; margin-right: 20px /*background-image: url(../../images/izle.png) !important*/ }
.MQTest.masterListe.part .islemTuslari button#degistir.jqx-fill-state-normal { background-color: #546394 }
.MQTest.masterListe.part .islemTuslari button#sil { margin-right: 30px }
.MQTest.masterListe.part .islemTuslari button#eMailGonder, .MQTest.masterListe.part .islemTuslari button#testIslemleri { font-size: 95%; width: 110px; line-height: 19px }
.MQTest.masterListe.part .islemTuslari button#eMailGonder.jqx-fill-state-normal { background-color: #795c90 }
.MQTest.masterListe.part .islemTuslari button#testIslemleri.jqx-fill-state-normal { background-color: #337333 }
.MQTest.masterListe.part .jqx-grid [role = row] .bdehbvarmi.dehb { background-color: #da9081 }
.MQTest.masterListe.part .jqx-grid [role = row] .bdehbmiozel.dehb { background-color: #dab981 }
.MQTest.masterListe.part .jqx-grid [role = row] .cpt:not(.jqx-grid-cell-selected) { background-color: #c5d7db !important }
.MQTest.masterListe.part .jqx-grid [role = row] .anket-hi:not(.jqx-grid-cell-selected) { background-color: #f5eada !important }
.MQTest.masterListe.part .jqx-grid [role = row] .anket-de:not(.jqx-grid-cell-selected) { background-color: #c9c2be !important }
.MQTest.modelTanim.part { height: calc(var(--full)) !important }
