
.part .islemTuslari #bekleyenleriGetir {
	font-size: 210% !important
	/*background-image: url(../../../../../../../images/iletisim.png)*/
}
.part .islemTuslari #bekleyenleriGetir.jqx-fill-state-normal {
	background-color: transparent
}

.part .islemTuslari #ticariyeAktar {
	background-image: url(../../../../../../../images/eIslem_ticariyeAktar_bw.png);
	background-size: 68px !important
}
.part .islemTuslari #ticariyeAktar.jqx-fill-state-normal {
	filter: invert(1);
	background-color: transparent
}

.part .islemTuslari #eIslemIzle {
	background-image: url(../../../../../../../images/izle.png);
	background-size: 40px !important;
	filter: brightness(.8) contrast(5) !important
}
.part .islemTuslari #eIslemIzle.jqx-fill-state-normal {
	background-color: transparent;
	filter: brightness(.8) contrast(5) invert(1) !important
}

.part .islemTuslari #sil { background-image: url(../../../../../../../images/eIslemKaldir.png) }
.part .islemTuslari #sil.jqx-fill-state-normal { background-color: #9f9797 }

.part .jqx-grid div[role=row] > div.tamamDurum.tamamlandi:not(.jqx-grid-cell-selected) { background-color: #d0e5cf }
.part .jqx-grid div[role=row] > div.yazdirmaDurum.yazdirildi:not(.jqx-grid-cell-selected) { background-color: #ee90b2 }
