.part .islemTuslari #bekleyenleriGetir { background-image: url(../../../../../../../images/iletisim.png) }
.part .islemTuslari #bekleyenleriGetir.jqx-fill-state-normal { background-color: #979f97 }
.part .islemTuslari #dosyadanYukle { background-image: url(../../../../../../../images/download.png) }
.part .islemTuslari #dosyadanYukle.jqx-fill-state-normal { }
.part .islemTuslari #ticariFiseDonustur { background-image: url(../../../../../../../images/kaydet.png) }
.part .islemTuslari #ticariFiseDonustur.jqx-fill-state-normal { }
.part .islemTuslari #eIslemIzle {
	background-image: url(../../../../../../../images/izle.png);
	background-size: 40px !important;
	filter: brightness(.8) contrast(5) !important
}
.part .islemTuslari #eIslemIzle.jqx-fill-state-normal { background-color: #888; filter: brightness(.8) contrast(5) invert(1) !important }
.part .islemTuslari #sil { background-image: url(../../../../../../../images/eIslemKaldir.png) }
.part .islemTuslari #sil.jqx-fill-state-normal { background-color: #9f9797 }
.part .jqx-grid div[role=row] > div.tamamDurum.tamamlandi:not(.jqx-grid-cell-selected) { background-color: #d0e5cf }
.part .jqx-grid div[role=row] > div.yazdirmaDurum.yazdirildi:not(.jqx-grid-cell-selected) { background-color: #ee90b2 }
