.modelKullan.part { position: relative !important }
.jqx-grid .modelKullan.part { position: absolute !important }
.modelKullan.part button#listedenSec { position: absolute; top: 8%; right: 30px; opacity: .2; z-index: 13 }
.modelKullan.part:has(:focus) button#listedenSec { opacity: .5 }
.modelKullan.part button#listedenSec:not(.jqx-fill-state-normal) { color: #99ade8 !important; background-color: unset !important; opacity: .8 }
.modelKullan.part button#listedenSec.jqx-fill-state-pressed { font-weight: bold; color: royalblue !important; opacity: 1 }
.modelKullan.list-item { font-size: var(--full); /* line-height: 30px; */ width: var(--full); height: var(--full) }
.modelKullan.list-item .kod { font-weight: bold; min-width: 95px; margin-right: 5px }
@media (max-width: 1000px) { .modelKullan.list-item .kod { min-width: 85px } }
@media (max-width: 900px) { .modelKullan.list-item .kod { min-width: 70px } }
