.tabFisGiris.modelTanim.part { }
.tabFisGiris.modelTanim.part > .header { height: 5px }
.tabFisGiris.modelTanim.part [role = row] > div > div { margin-top: 0 !important; padding: 5px }
.tabFisGiris.modelTanim.part .accordion.part .degisti { box-shadow: 0 5px 10px -3px forestgreen }
