
:root {
	--islemTuslari-height: 55px; --islemTuslari-box-shadow-height: 10px;
	--islemTuslari-bottom: calc(var( --islemTuslari-height) + var(--islemTuslari-box-shadow-height)); --grid-islemTuslari-width: 100px }

.fisGiris.part, .fisGiris.part .split, .fisGiris.part .split > div, .fisGiris.part .header .sub-parent { overflow: hidden }
.fisGiris.part > .split { top: var(--islemTuslari-box-shadow-height) }
.fisGiris.part .jqx-splitter .jqx-splitter-panel .header { overflow-y: auto; border: none }
.fisGiris.part .headerDipOrtak > div { float: left; width: var(--full); height: 99%; background-color: #f8f9fa; margin: 0 !important; padding: 0 !important }
.fisGiris.part .header { border: 1.3px outset #ccc }
.fisGiris.part .dipForm .dipGrid { font-size: 115% }
.fisGiris.part .islemTuslari { width: var(--full); height: var(--islemTuslari-height); position: relative; top: 0; right: 5px; pointer-events: none }
.fisGiris.part .islemTuslari button { pointer-events: auto }
.fisGiris.part .baslikFormlar { position: relative; top: 5px }
.fisGiris.part .header .sub-parent { margin: 0; padding: 0 }
.fisGiris.part .header .input-parent .veri { height: 43px !important; margin-left: 0; margin-bottom: 5px }
.fisGiris.part:not([data-ozelisaret]) .header, .fisGiris.part[data-ozelisaret=""] .header { padding: inherit }
.fisGiris.part[data-ozelisaret="*"] .header { border: 3px solid #ff000096; background: linear-gradient(90deg, transparent 45%, #4a070740 90%) !important; box-sizing: border-box }
.fisGiris.part[data-ozelisaret="*"] .header .sub-parent.stokIslem .veri { color: #333; background-color: #9f0f7e26 }
.fisGiris.part[data-ozelisaret="X"] .header { border: 3px solid #9f530f96; padding-top: 1px; padding-bottom: 1px }
.fisGiris.part[data-ozelisaret="X"] .header .sub-parent.stokIslem .veri { color: #333; background-color: #9f530f30 }
.fisGiris.part .header .baslikForm { width: var(--full) !important }
.fisGiris.part .header .tahsilatOdeme .veri:not(.jqx-fill-state-pressed)[data-value = 'B']  { background: #ff45000f; border: 1px solid orangered }
.fisGiris.part .header .tahsilatOdeme .veri:not(.jqx-fill-state-pressed)[data-value = 'A'] { background: #90ee9029; border: 1px solid green }
.fisGiris.part .header .tahsilatOdeme .jqx-dropdownlist-content { font-weight: bold; text-align: center }
.fisGiris.part .gridVeIslemTuslari.split .gridIslemTuslari { margin: 0; padding: 0; margin-block-end: 5px; overflow-y: auto !important }
.fisGiris.part .gridVeIslemTuslari.split .gridIslemTuslari button { font-weight: bold; font-size: 75%; width: calc(var(--full) - 5px) !important; min-height: 45px; max-height: 70px }
.fisGiris.part .gridVeIslemTuslari.split .gridIslemTuslari > button.jqx-fillstate-normal { color: #aaa }
.fisGiris.part .gridVeIslemTuslari.split .gridIslemTuslari > button:not(:first-child) { margin: 3px 0 }
.fisGiris.part .gridVeIslemTuslari.split .grid-parent { width: calc(var(--full) - 111px) !important; height: calc(var(--full) - 18px) !important }
.fisGiris.part .gridVeIslemTuslari.split .jqx-splitter-splitbar-collapsed + .grid-parent { width: calc(var(--full) - 10px) !important }
.fisGiris.part .gridVeIslemTuslari.split .grid-parent .grid { font-size: 90% }
