.gidenEIslemListe.part .islemTuslari #eIslemGonder { background-image: url(../../../../../../../images/eIslemGonder.png) }
.gidenEIslemListe.part .islemTuslari #eIslemIzle { background-image: url(../../../../../../../images/izle.png) }
.gidenEIslemListe.part .islemTuslari #eIslemSorgu { background-image: url(../../../../../../../images/soru.png) }
.gidenEIslemListe.part .islemTuslari #eIslemXMLOlustur { background-image: url(../../../../../../../images/eIslemImza.png) }
.gidenEIslemListe.part .islemTuslari #eIslemXMLOlustur.jqx-fill-state-normal { }
.gidenEIslemListe.part .islemTuslari #xmlKaldir { background-image: url(../../../../../../../images/sil.png) }
.gidenEIslemListe.part .islemTuslari #eIslemIptal { background-image: url(../../../../../../../images/eIslemKaldir.png) }

.gidenEIslemListe.part .islemTuslari #eIslemGonder.jqx-fill-state-normal, gidenEIslemListe.part .islemTuslari #eIslemIzle.jqx-fill-state-normal,
	.gidenEIslemListe.part .islemTuslari #eIslemSorgu.jqx-fill-state-normal { background-color: #ccc }
.gidenEIslemListe.part .jqx-grid div[role=row] > div.efgonderimts.gonderildi:not(.jqx-grid-cell-selected) { background-color: lightgreen }
.gidenEIslemListe.part .islemTuslari #eIslemIptal.jqx-fill-state-normal, .gidenEIslemListe.part .islemTuslari #xmlKaldir.jqx-fill-state-normal { background-color: #9d9393 }
