.test.part { --header-height: 50px }
.test.part > * { --button-width: 48px; --button-height: 36px }
/*.test.part .islemTuslari { background: transparent !important }*/
body.kiosk .test.part .islemTuslari { position: fixed; top: 2px; z-index: -1 }
.test.part .islemTuslari > .sag { right: 10px }
.test.part .header { width: var(--full); height: var(--header-height); padding: 20px }
.test.part .content { width: var(--full); height: calc(var(--full) - var(--header-height)) }
body:not(.kiosk) .test.part .header { margin-top: calc(0px - (var(--header-height) + 0px)); background: transparent }
.test.part .header .adimText { font-size: 180%; font-weight: bold; width: 400px; color: #555; border-bottom: 2px solid royalblue; border-radius: 1px; padding-bottom: 10px }
.test.part .content button#baslat { font-size: 200%; color: #333; position: relative; top: 30%; left: 20%; width: 60%; height: 100px }
.test.part .content button#baslat.jqx-fill-state-normal { border: 1px solid #aaa !important }
.test.part .content button#baslat.jqx-fill-state-hover { border: 1px solid green !important; background-color: whitesmoke }
.test.part .content button#baslat.jqx-fill-state-pressed { color: white }
.test.part .content .resim {
	--padding: 5px; width: calc(var(--full) - (var(--padding) * 2 + 5px)); height: calc(var(--full) - (var(--padding) * 2 + 60px));
	padding: var(--padding); border: 1px solid transparent; background-color: black !important;
	background-size: contain; background-repeat: no-repeat; background-position: center; cursor: pointer
}
.test.part .content .resim:hover { border: 1px solid #aaa }
.test.part .content .resim:active { border: 2px solid royalblue; filter: brightness(.5) }
.test.part .content .resultText { font-weight: bold; font-size: 200%; margin: 20px 0 0 80px }
