.filtreForm.part { width: 230px; height: var(--full) padding: 3px 4px; min-width: 100px }
.filtreForm.part .input {
	font-size: 70% !important; padding-left: 50px;
	background-image: url(../../images/search.png); background-color: #f9f9f9; background-repeat: no-repeat;
	background-size: 22px 22px; background-position: 13px 50%
}
