.hatYonetimi.part { --header-height: 0px !important; font-size: 125% !important; overflow-y: hidden !important }
.makineYonetimi.part > .header { height: var(--header-height) !important; background: #eee !important }
.makineYonetimi.part > .content {
	 --padding-x: 0px; --padding-y: 0px; padding: var(--padding-y) var(--padding-x); --td-padding-x: 13px; --td-padding-y: 10px;
	overflow-y: auto !important; width: calc(var(--full) - var(--padding-x) * 2); height: calc(var(--full) - (var(--header-height) + var(--padding-y) * 2))
}
.makineYonetimi.part > .content table { line-height: 20px; border: 1px solid #aaa }
.makineYonetimi.part > .content table tr > th > button:not(:hover):not(:focus):not(:active) { color: #8ba8ff !important }
.makineYonetimi.part > .content table tr > td { border: 1px solid #ccc }
.makineYonetimi.part > .content #oemBilgileri { width: calc(var(--full) - (5px + var(--padding-x) * 2)) }
.makineYonetimi.part > .content #oemBilgileri tr > td { height: 30px }
.makineYonetimi.part > .content #oemBilgileri tr > td * { position: relative }
.makineYonetimi.part > .content #oemBilgileri tr > td:not(.buttons) { padding: var(--td-padding-y) var(--td-padding-x) }
.hatYonetimi.part > .content #oemBilgileri tr > .buttons { width: 0; text-align: center; padding: 0; background-color: #dedede }
.hatYonetimi.part > .content #oemBilgileri tr > .buttons button { font-size: 70%; width: 113px; border-radius: 10px }
.hatYonetimi.part > .content #oemBilgileri tr > .buttons button.jqx-fill-state-normal,
	.hatYonetimi.part > .content #oemBilgileri .miktarVeGSC table tr > th button:not(:focus):not(:hover):not(:active) { background-color: transparent }
.hatYonetimi.part > .content #oemBilgileri tr > .buttons button:hover,
	.hatYonetimi.part > .content #oemBilgileri .miktarVeGSC table tr > th button:hover { font-weight: bold; color: #6c85d1; background-color: inherit; text-decoration: underline }
.hatYonetimi.part > .content #oemBilgileri tr > .buttons button.jqx-fill-state-pressed,
	.hatYonetimi.part > .content #oemBilgileri .miktarVeGSC table tr > th button.jqx-fill-state-pressed { font-weight: bold; color: whitesmoke; background-color: inherit }
.hatYonetimi.part > .content #oemBilgileri tr > .buttons button:not(:last-child) { margin-block-end: 10px }
.hatYonetimi.part > .content #oemBilgileri tr > td .kod { color: #333; margin-inline-end: 5px }
.hatYonetimi.part > .content #oemBilgileri tr > td .asil, .hatYonetimi.part > .content #oemBilgileri tr > td .adi { color: royalblue }
.hatYonetimi.part > .content #oemBilgileri td .sub-item { font-size: 80%; margin-inline-end: 15px }
