.hatYonetimi.part { --header-height: var(--islemTuslari-height); font-size: 100%; overflow-y: hidden !important }
.hatYonetimi.part > .header { height: var(--header-height) !important; background: #ccc !important }
body.dark-theme .hatYonetimi.part > .header { background: #eee !important }
.hatYonetimi.part > .header .islemTuslari button { font-size: 95% }
.hatYonetimi.part > .content {
	 --padding-x: 0px; --padding-y: 0px;
	width: calc(var(--full) - var(--padding-x) * 2); height: calc(var(--full) - (var(--header-height) + var(--padding-y) * 2 + 5px));
	padding: var(--padding-y) var(--padding-x); overflow-y: auto !important
}
.hatYonetimi.part > .content .liste { --padding-x: 3px; --padding-y: 5px; font-size: 73%; background-color: #ddd; padding-bottom: 300px }
body.dark-theme .hatYonetimi.part > .content .liste { background-color: #eee }
.hatYonetimi.part > .content .liste .hat.item { margin-bottom: 15px }
.hatYonetimi.part > .content .liste .hat.item > .grup { font-weight: bold; font-size: 160%; color: whitesmoke; background: #333 !important; height: 50px; padding: 5px 10px }
body.dark-theme .hatYonetimi.part > .content .liste .hat.item > .grup { filter: invert(1) hue-rotate(180deg); color: #aaa; background: #222 }
body.dark-theme .hatYonetimi.part > .content .liste .hat.item > .grup:hover,
	body.dark-theme .hatYonetimi.part > .content .liste .hat.item > .grup:focus { opacity: .8 }
.hatYonetimi.part > .content .liste .tezgahlar {}
.hatYonetimi.part > .content .liste .tezgah.item {
	width: calc(var(--full) / var(--box-cols) - /*(var(--padding-x) * 2.9)*/ 1px); height: calc(15px + 10px * var(--box-rows));
	border: 1px solid #b3b3b3; padding: var(--padding-y) var(--padding-x); box-sizing: border-box
}
.hatYonetimi.part > .content .liste .tezgah.item > .sol { width: 30px }
.hatYonetimi.part > .content .liste .tezgah.item > .sol button { margin-top: -3px !important }
.hatYonetimi.part > .content .liste .tezgah.item .sub-item { column-gap: 10px }
.hatYonetimi.part > .content .liste .tezgah.item .ip { color: royalblue }
.hatYonetimi.part > .content .liste .tezgah.item:hover { background-color: #4169e115 }
.hatYonetimi.part > .content .liste .tezgah.item.selected { background-color: #4169e133 }
	.hatYonetimi.part > .content .liste .item .kod { font-weight: bold; color: #888 }
.hatYonetimi.part > .content .liste .hat.item > .grup, .hatYonetimi.part > .content .liste .tezgah.item { cursor: pointer; overflow-y: auto !important }
.hatYonetimi.part > .content .liste .hat.item.toggled > .grup { max-height: 40px !important }
.hatYonetimi.part > .content .liste .hat.item.toggled > .grup > .title * { color: #555 !important }
.hatYonetimi.part > .content .liste .hat.item.toggled > .tezgahlar { display: none !important }
