.makineYonetimi.part { --header-height: 60px !important; font-size: 130% !important }
.makineYonetimi.part > .header { height: var(--header-height) !important; background: #eee !important }
.makineYonetimi.part > .content {
	 --padding-x: 0px; --padding-y: 0px; padding: var(--padding-x) var(--padding-y); --td-padding-x: 13px; --td-padding-y: 10px;
	overflow-y: auto !important; width: calc(var(--full) - var(--padding-x) * 2); height: calc(var(--full) - (var(--header-height) + var(--padding-y) * 2))
}
.makineYonetimi.part > .content table { line-height: 20px; border: 1px solid #aaa }
.makineYonetimi.part > .content table tr > th > button:not(:hover):not(:focus):not(:active) { color: #8ba8ff !important }
.makineYonetimi.part > .content table tr > td { border: 1px solid #ccc }
.makineYonetimi.part > .content #oemBilgileri { width: calc(var(--full) - (5px + var(--padding-x) * 2)) }
.makineYonetimi.part > .content #oemBilgileri tr > td { height: 30px }
.makineYonetimi.part > .content #oemBilgileri tr > td * { position: relative }
.makineYonetimi.part > .content #oemBilgileri tr > td:not(.buttons) { padding: var(--td-padding-y) var(--td-padding-x) }
.makineYonetimi.part > .content #oemBilgileri tr > .buttons { width: 0; text-align: center; padding: 0; background-color: #dedede }
.makineYonetimi.part > .content #oemBilgileri tr > .buttons button { font-size: 70%; width: 113px; border-radius: 10px }
.makineYonetimi.part > .content #oemBilgileri tr > .buttons button.jqx-fill-state-normal,
	.makineYonetimi.part > .content #oemBilgileri .miktarVeGSC table tr > th button:not(:focus):not(:hover):not(:active) { background-color: transparent }
.makineYonetimi.part > .content #oemBilgileri tr > .buttons button:hover,
	.makineYonetimi.part > .content #oemBilgileri .miktarVeGSC table tr > th button:hover { font-weight: bold; color: #6c85d1; background-color: inherit; text-decoration: underline }
.makineYonetimi.part > .content #oemBilgileri tr > .buttons button.jqx-fill-state-pressed,
	.makineYonetimi.part > .content #oemBilgileri .miktarVeGSC table tr > th button.jqx-fill-state-pressed { font-weight: bold; color: whitesmoke; background-color: inherit }
.makineYonetimi.part > .content #oemBilgileri tr > .buttons button:not(:last-child) { margin-block-end: 10px }
.makineYonetimi.part > .content #oemBilgileri tr > td .kod { color: #888; margin-inline-end: 5px }
.makineYonetimi.part > .content #oemBilgileri tr > td .asil, .makineYonetimi.part > .content #oemBilgileri tr > td .adi { color: royalblue }
.makineYonetimi.part > .content #oemBilgileri td .sub-item { font-size: 80%; margin-inline-end: 15px }
.makineYonetimi.part > .content #oemBilgileri .hat { color: whitesmoke; background-color: #333 }
.makineYonetimi.part > .content #oemBilgileri .hat > * > * { font-weight: bold; font-size: 130% }
.makineYonetimi.part > .content #oemBilgileri .hat .adi { color: #eee !important }
.makineYonetimi.part > .content #oemBilgileri .tezgah .ip { font-weight: bold; font-size: 90%; color: mediumpurple; min-width: 70px; margin-left: 20px }
.makineYonetimi.part > .content #oemBilgileri .siradakiIsSayi { font-size: 95%; color: #999; text-align: right; width: 100px !important; padding-right: 20px !important }
.makineYonetimi.part > .content #oemBilgileri .siradakiIsSayi .veri { font-weight: bold; color: orangered !important }
.makineYonetimi.part > .content #oemBilgileri td .isListe { position: relative; height: 180px !important }
.makineYonetimi.part > .content #oemBilgileri td .isListe > * { width: var(--full); height: var(--full); border: 1px dotted #dcdcdc; padding: 0 15px !important; overflow-y: overlay !important }
.makineYonetimi.part > .content #oemBilgileri td:hover .isListe > *, .makineYonetimi.part > .content #oemBilgileri td:focus .isListe > * { border: 1px solid #aaa }
.makineYonetimi.part > .content #oemBilgileri td .isListe > * > li { font-size: 65% !important; color: #555; line-height: 18px; margin: 0 13px; padding: 8px 5px }
.makineYonetimi.part > .content #oemBilgileri td .isListe > * > li:hover, .makineYonetimi.part > .content #oemBilgileri td .isListe > * > li:focus { cursor: default; background-color: #d9deeb }
.makineYonetimi.part > .content #oemBilgileri td .isListe > * > li .flex-row > .item { width: unset; min-width: 150px; max-width: 30% }
.makineYonetimi.part > .content #oemBilgileri td .isListe > * > li .flex-row > .item:not(:last-child) { padding-inline-end: 15px }
.makineYonetimi.part > .content #oemBilgileri td .isListe > * > li .flex-row > .item > * { white-space: pre-wrap !important }
.makineYonetimi.part > .content #oemBilgileri td .isListe > * > li .kod { font-weight: bold; color: #8689af } .makineYonetimi.part > .content #oemBilgileri td .isListe > * > li .aciklama { }
.makineYonetimi.part > .content #oemBilgileri td .isListe > * > li .color.item { min-width: unset !important; width: 5px !important; margin: 0 10px }
.makineYonetimi.part > .content #oemBilgileri td .isListe > * > li .saymaSayilari,
	.makineYonetimi.part > .content #oemBilgileri td .isListe > * > li .sureler { top: -28px }
.makineYonetimi.part > .content #oemBilgileri td .isListe > * > li .saymaSayilari.item { text-align: right; min-width: unset; max-width: 115px !important }
.makineYonetimi.part > .content #oemBilgileri td .isListe > * > li .saymaSayilari.item > * { font-weight: bold; font-size: 83%; color: mediumvioletred }
.makineYonetimi.part > .content #oemBilgileri td .isListe > * > li .sureler.item { text-align: right; min-width: unset; max-width: 115px !important }
.makineYonetimi.part > .content #oemBilgileri td .isListe > * > li .sureler.item .ek-bilgi { font-weight: normal; color: #888 }
.makineYonetimi.part > .content #oemBilgileri td .isListe > * > li .sureler.item > * { font-weight: bold; font-size: 83%; color: #238b66 }
.makineYonetimi.part > .content #oemBilgileri td .isListe > * > li .sureler.item > .basZamanTS { font-weight: bold; font-size: 83%; color: rebeccapurple }
.makineYonetimi.part > .content #oemBilgileri .miktarVeGSC > * > * > table:not(:last-child) { margin-inline-end: 30px }
.makineYonetimi.part > .content #oemBilgileri .miktarVeGSC table tr { --padding-x: 30px }
.makineYonetimi.part > .content #oemBilgileri .miktarVeGSC table tr > * { text-align: center }
.makineYonetimi.part > .content #oemBilgileri .miktarVeGSC table tr > th { font-weight: bold; background-color: #555; height: 40px !important; padding: 3px var(--padding-x) }
.makineYonetimi.part > .content #oemBilgileri .miktarVeGSC table tr > th,
	.makineYonetimi.part > .content #oemBilgileri .miktarVeGSC table tr > th button:not(:focus):not(:hover):not(:active) { color: #ccc }
.makineYonetimi.part > .content #oemBilgileri .miktarVeGSC table tr > th button:hover { color: #a1b9df }
.makineYonetimi.part > .content #oemBilgileri .miktarVeGSC table tr > td { font-weight: bold; color: royalblue; padding: 8px var(--padding-x) }
.makineYonetimi.part > .content #oemBilgileri .miktarVeGSC table tr > td > .ek-bilgi { padding-left: 5px }
.makineYonetimi.part > .content #oemBilgileri .miktarVeGSC table tr > td.net { font-size: 120%; font-weight: bold; color: forestgreen }
.makineYonetimi.part > .content #oemBilgileri .gsc .adi { margin-inline-end: 30px }
.makineYonetimi.part > .content #oemBilgileri .isSayilari tr > td .ek-bilgi { color: #aaa; margin-left: 5px }
.makineYonetimi.part > .content #oemBilgileri .isSayilari tr > td.aktifIs .veri { color: forestgreen }
.makineYonetimi.part > .content #oemBilgileri .durum-parent > td.veri { font-weight: bold; background-color: #555; height: 40px; padding-bottom: calc(var(--td-padding-y) + 5px); border-radius: 10px }
.makineYonetimi.part > .content #oemBilgileri .durum-parent > td.veri > * { }
.makineYonetimi.part > .content #oemBilgileri .durum-parent > td.veri .durumText { font-size: 150%; padding-top: 10px }
.makineYonetimi.part > .content #oemBilgileri .durum-parent > td.veri .nedenText { font-size: 90%; top: -3px; color: #eca !important }
.makineYonetimi.part > .content #oemBilgileri .durum-parent > td.veri :not(.durumText) { color: #ddd }
.makineYonetimi.part > .content #oemBilgileri .grafikler { width: 180px }
.makineYonetimi.part > .content #oemBilgileri .grafik-parent { position: absolute; right: 30px; margin-top: -33px }
