/*.MQDiger.masterListe.part .islemTuslari #x { margin-right: 40px }*/
table.oemBilgi th { color: #999 }
table.oemBilgi td { font-weight: bold }
table.oemBilgi td .veri { color: royalblue }
table.oemBilgi td .ek-bilgi { font-weight: bold; color: #888; margin-left: 5px }
