.MQXIsler.masterListe.part .islemTuslari > .sol > button#kolonFiltre ~ button:not(#switch):not(#yazdir):not(#excel) { width: 110px }
.MQXIsler.masterListe.part .islemTuslari > .sol > button#kolonFiltre ~ button:not(#switch):not(#yazdir):not(#excel).jqx-fill-state-normal { color: #333 !important; background: transparent }
.MQXIsler.masterListe.part .islemTuslari #switch { margin-right: 40px }
.MQXIsler.masterListe.part .jqx-grid [role = row] > *:not(.fisnox) > * > * { margin-inline-end: 10px !important }
.MQXIsler.masterListe.part .jqx-grid [role = row] > .atandimiText > *, .MQXIsler.masterListe.part .jqx-grid [role = row] > .zamanEtudumuText > * { font-weight: bold; font-size: 83%; text-align: center; padding: 8px 0 0 2px }
.MQXIsler.masterListe.part .jqx-grid .atandimiText, .MQXIsler.masterListe.part .jqx-grid [role = row] > .atandimiText > * { color: #e67e0b }
.MQXIsler.masterListe.part .jqx-grid [role = row] > .atandi:not(.jqx-grid-cell-selected) { background: #fff6ec }
.MQXIsler.masterListe.part .jqx-grid .zamanEtudumuText, .MQXIsler.masterListe.part .jqx-grid [role = row] > .zamanEtudumuText > * { color: #0f833f }
.MQXIsler.masterListe.part .jqx-grid [role = row] > .zamanEtudu:not(.jqx-grid-cell-selected) { background: #d0ded0 }
.MQXIsler.masterListe.part .jqx-grid [role = row] > .son:not(.jqx-grid-cell-selected) { background: #dfdce9 }
/*.MQXIsler.masterListe.part .jqx-grid [role = row] > .sonmu.son  { background: #ccc7d9 }*/
.MQXIsler.masterListe.part .jqx-grid [role = row] > .devreDisi { color: #777; background: #ccc; text-decoration-line: line-through }
.MQXIsler.masterListe.part .jqx-grid [role = row] > .fisnox > * > * { margin-inline-end: 5px !important }
.MQXIsler.masterListe.part .jqx-grid [role = row] > * .diger { font-weight: bold; color: royalblue }
.MQXIsler.masterListe.part.siralama, .MQXIsler.masterListe.part.siralama .jqx-grid { box-shadow: 3px 5px 10px 10px green }
