.dRapor.part {
	--islemTuslari-height: 53px;
	margin: 0 !important; padding: 0 !important;
	box-sizing: border-box !important; overflow: hidden
}
.dPanel .dRapor.part { --islemTuslari-height: 0px }
.dRapor.part .butonlar.part { --button-width: 90px }
.dRapor.part > .islemTuslari { width: var(--full); height: var(--islemTuslari-height) }
.dRapor.part > .islemTuslari #raporTanim.jqx-fill-state-normal {
	color: #3d4c7c; background-color: #b2c7b2;
	border: 1px solid #95989f !important; box-shadow: 1px 1px 5px 3px #c7cde7
}
.dRapor.part > .islemTuslari #genelSecimler, .dRapor.part > .islemTuslari #secimler.jqx-fill-state-normal { background-color: #7f8cb0 }
.dRapor.part > .islemTuslari #genelSecimler.jqx-fill-state-hover, .dRapor.part > .islemTuslari #secimler.jqx-fill-state-hover { background-color: #c0cced }
.dRapor.part > .islemTuslari #genelSecimler.jqx-fill-state-pressed, .dRapor.part > .islemTuslari #secimler.jqx-fill-state-pressed { background-color: #4860a2 }
.dRapor.part > .wnd-content > *:not(.bulForm):not(.islemTuslari) { background: white !important }
.dRapor.part #items {
	width: calc(var(--full) - 5px) !important; height: calc(var(--full) - var(--islemTuslari-height) - 5px) !important;
	margin: 0 !important; padding: 0 !important; box-sizing: border-box !important; overflow: hidden auto
}
.dRapor.part #items > .item {
	position: relative; margin: 0 !important; padding: 0 !important;
	border: 1px solid #eee; border-radius: 13px; box-sizing: border-box !important
}
:not(.dPanel) .dRapor.part #items > .item {
	min-width: 250px !important; width: 32%; height: 445px;
	margin: 0 2px !important; padding: 0 !important;
	float: left; z-index: 10
}
/*.dRapor.part #items > .item > :not(label) { max-height: calc(var(--full) - 50px) }*/
.dRapor.part #items > .item > * { }
.dRapor.part #items > .item.hasFocus { z-index: 1001 }
.dRapor.part #items:has(.jqx-grid:focus),
	.dRapor.part #items:has(.jqx-grid  *:focus) { overflow: hidden !important }
@media (max-height: 1000px) { .dRapor.part #items > .item { height: 350px } }
@media (max-height: 800px) { .dRapor.part #items > .item { width: 25%; height: 300px } }
.dRapor.part #items.maximized > .item.maximized,
	.dPanel.part .items.maximized :has(.item.maximized) { width: calc(var(--full) - 10px) !important; height: calc(var(--full) - 10px) !important }
.dRapor.part #items.maximized > .item:not(.maximized),
	.dPanel.part .items.maximized > :not(:has(.maximized)) { display: none }
.dRapor.part #items > .item > [data-builder-id = 'fullScreen'],
	.dRapor.part #items > .item > [data-builder-id = 'close']
{
	position: absolute; width: 32px !important; height: 32px !important;
	top: 3px !important; z-index: 1100 !important; box-sizing: border-box !important;
	background-color: transparent !important; background-size: contain !important;
	background-position: center !important; background-repeat: no-repeat !important
}
.dPanel .dRapor.part #items > .item > [data-builder-id = 'fullScreen'],
	.dPanel .dRapor.part #items > .item > [data-builder-id = 'close'] { width: 24px !important; height: 24px !important }
.dRapor.part #items > .item > [data-builder-id = 'fullScreen'] button,
	.dRapor.part #items > .item > [data-builder-id = 'close'] button {
	width: var(--full) !important; height: var(--full) !important;
	margin-top: -3px !important; z-index: 1101 !important
}
.dRapor.part #items > .item > [data-builder-id = 'fullScreen'] button.jqx-fill-state-normal,
	.dRapor.part #items > .item > [data-builder-id = 'close'] button.jqx-fill-state-normal { opacity: .5 }
.dRapor.part #items > .main.item > [data-builder-id = 'fullScreen'],
	.dRapor.part #items > .main.item > [data-builder-id = 'close'] { top: 8px !important; right: 0 !important }
.dRapor.part #items > .item > [data-builder-id = 'fullScreen'] { right: -10px !important }
.dPanel .dRapor.part #items > .item > [data-builder-id = 'fullScreen'] { right: 40px !important }
.dPanel .dRapor.part #items > .item > [data-builder-id = 'close'] {
	top: 1px !important; right: -10px !important; background-size: 50px !important;
	background-image: url('../../../../../../images/x.png') !important
}
.dRapor.part #items > .item > label {
	position: relative !important; overflow-y: auto !important;
	font-weight: bold; font-size: 135%; color: #888; background-color: #eee;
	width: calc(var(--full) - 10px); margin: 0; padding: 0 0 0 10px; border-radius: 10px
}
.dPanel .dRapor.part #items > .item:not(.hasFocus) > label,
	.dPanel .dRapor.part #items > .item > label > * { background-color: unset !important }
.dRapor.part #items > .item.hasFocus  { box-shadow: 0 0 3px 5px forestgreen !important }
.dRapor.part #items > .item.hasFocus > label {
	font-size: 145%; color: #333; background-color: #78b3de;
	box-shadow: 0 2px 8px #333; user-select: none
}
body.dark-theme .dRapor.part #items > .item.hasFocus > label { color: whitesmoke; background-color: #00ff9f }
body.dark-theme .dRapor.part #items > .item.hasFocus .secimBilgi { background-color: ghostwhite !important }
.dRapor.part #items > ._main.item > label { height: 65px !important }
.dRapor.part #items > ._main.item > :not(label) { max-height: calc(var(--full) - 80px) }
.dPanel .dRapor.part #items > ._main.item > :not(label) { max-height: calc(var(--full) - 38px) }
.dPanel .dRapor.part #items > ._main.item > label { line-height: 30px; height: auto !important; max-height: 63px !important; margin-bottom: -5px !important }
.dPanel .dRapor.part #items > ._main.item > label .secimBilgi { filter: opacity(.8) !important; margin-top: 0 !important; z-index: 0 !important }
.dPanel .dRapor.part #items > ._main.item > :not(label) { max-height: calc(var(--full) - 63px) }
.dRapor .anim-raporTanim-highlight, .dRapor .anim-raporTanim-highlight { border: 3px solid forestgreen !important; animation: 850ms infinite cubic-bezier(0.46, 0.03, 0.52, 0.96) anim-raporTanim-hightlight }
@keyframes anim-raporTanim-hightlight { 50% { background-color: #c9e0c9 } }
.dRapor.masterListe.part .jqx-grid [role = row], .dRapor.part #items > .item .jqx-grid .jqx-grid-cell.toplam { font-weight: bold }
.dRapor.part #items > .item .jqx-grid .jqx-grid-cell:not(.jqx-grid-cell-selected).toplam { background-color: #f1fff1 }
.dRapor.part #items > .item .jqx-grid .jqx-grid-cell.zero  { color: lightgray /*; opacity: 1*/ }
.dRapor.part #items > .item .jqx-grid .jqx-grid-cell.toplam { color: forestgreen }
.dRapor.part #items > .item .jqx-grid .jqx-grid-cell.negative { font-weight: bolder; color: lightcoral !important }
body.dark-theme .dRapor.part #items > .item .jqx-grid .jqx-grid-cell img { filter: invert(1) hue-rotate(180deg) }
.dRapor.part #items > .item._main .jqx-grid .jqx-grid-cell:not(.leaf) { font-weight: bold; font-size: 115% }
.dRapor.part #items > .item._main .jqx-grid .jqx-grid-cell.level-0:not(.leaf) { font-size: 120% }
.dRapor.part #items > .item._main .jqx-grid tr:nth-child(even) .jqx-grid-cell:not(.jqx-grid-cell-selected).level-0:not(.leaf) { background-color: #e2e7f1 }
.dRapor.part #items > .item._main .jqx-grid tr:nth-child(odd) .jqx-grid-cell:not(.jqx-grid-cell-selected).level-0:not(.leaf) { background-color: #ecf2fe }
body.dark-theme .dRapor.part #items > .item._main .jqx-grid tr:nth-child(odd) .jqx-grid-cell:not(.jqx-grid-cell-selected).level-0:not(.leaf) { background-color: #c8cfff }
body.dark-theme .dRapor.part #items > .item._main .jqx-grid tr:nth-child(even) .jqx-grid-cell:not(.jqx-grid-cell-selected).level-0:not(.leaf) { background-color: #bebbff }
.dRapor.part #items > .item._main .jqx-grid .jqx-grid-cell.level-1:not(.leaf) { font-size: 110% }
.dRapor.part #items > .item._main .jqx-grid tr:nth-child(even) .jqx-grid-cell:not(.jqx-grid-cell-selected).level-1:not(.leaf) { background-color: #f8e8d5 }
.dRapor.part #items > .item._main .jqx-grid tr:nth-child(odd) .jqx-grid-cell:not(.jqx-grid-cell-selected).level-1:not(.leaf) { background-color: #e6d7c5 }
.dRapor.part #items > .item._main .jqx-grid .jqx-grid-cell.level-2:not(.leaf) { font-size: 105% }
.dRapor.part #items > .item._main .jqx-grid tr:nth-child(even) .jqx-grid-cell:not(.jqx-grid-cell-selected).level-2:not(.leaf) { background-color: #d4e6c5 }
.dRapor.part #items > .item._main .jqx-grid tr:nth-child(odd) .jqx-grid-cell:not(.jqx-grid-cell-selected).level-2:not(.leaf) { background-color: #c7d5bb }
.dRapor.part #items > .item._main .jqx-grid .jqx-grid-cell-selected { color: whitesmoke; background-color: #426aae }
.dRapor.part #items > .item._main .jqx-grid .jqx-grid-cell-selected.icerik { font-weight: bold }
.dRapor.part #items > .item._main .jqx-grid :not([data-role = 'summaryrow']) .jqx-grid-cell.treeRow.grup.icerik { font-size: 110%; font-weight: bold; color: forestgreen }
.dRapor.part #items > .item._main .jqx-grid :not([data-role = 'summaryrow']) .jqx-grid-cell.treeRow.jqx-fill-state-pressed { color: whitesmoke !important }
.dRapor.part #items > .item._main .jqx-grid :not([data-role = 'summaryrow']) .jqx-grid-cell.treeRow.grup.icerik.jqx-fill-state-pressed { box-shadow: 0 3px 3px 5px lightcyan }
.dRapor.part #items > .item._main .jqx-grid [data-role = 'summaryrow'] > .jqx-grid-cell { font-size: 110%; font-weight: bold; color: forestgreen }
.dRapor.part #items > .item._main .jqx-grid .yatayToplam.jqx-grid-cell:not(.jqx-grid-cell-selected) { border-right: 5px solid cornflowerblue !important }
.dRapor.part #items > .item .jqx-grid .jqx-grid-column-header { font-weight: bold; font-size: 130% }
.dRapor.part #items > .item .jqx-grid .jqx-grid-column-header > div > * { margin-top: 0 !important }
.dRapor.part #items > .item .jqx-grid .jqx-grid-statusbar > div > .jqx-grid-cell { font-weight: bold; color: royalblue }
.dRapor.part #items > .item._main .jqx-grid .jqx-grid-statusbar > div > .jqx-grid-cell { font-size: 80% !important }
.dRapor.part #items > .item[data-builder-id = 'ozet'] .jqx-grid .jqx-grid-statusbar > div > .jqx-grid-cell { font-size: 105% !important }
.dRapor.part #items > .item[data-builder-id = 'ozet'] .jqx-grid .jqx-grid-cell { font-size: 83 }
.dRapor.part #items > .item[data-builder-id = 'ozet'] .jqx-grid .jqx-grid-cell > div { padding-right: 13px }
.secimler.dRapor.part .secimler-form > div { padding-top: 5px }
.secimler.dRapor.part .secimler-form .secim { padding: 5px }
.secimler.dRapor.part .secimler-form .modelKullan.part { padding: 5px 5px }
.secimler.dRapor.part .secimler-form .modelKullan.part:has(.jqx-combobox-multi-item) { min-height: 100px !important }
.secimler.dRapor.part .secimler-form .modelKullan.part .jqx-combobox-multi-item { margin-top: 5px; padding: 4px 8px }
.dRapor.part #items > .item.main .secimBilgi { width: calc(var(--full) - 150px); margin-top: -5px }
.dRapor.part #items > .item.main .secimBilgi .ozetBilgi-item { font-size: 80% !important; color: royalblue; padding: 2px 10px !important }
.dRapor.part #items > .item.main .secimBilgi .ozetBilgi-item:not(:first-child) { margin-left: 3px !important }

