#dRapor.part { --islemTuslari-height: 53px; width: var(--full) !important;  margin: 0 !important; padding: 0 !important; box-sizing: border-box !important; overflow: hidden }
#dRapor.part .butonlar.part { --button-width: 90px }
#dRapor.part > .islemTuslari { width: var(--full); height: var(--islemTuslari-height) }
#dRapor.part > .islemTuslari #secimler.jqx-fill-state-normal { background-color: #7f8cb0 } #dRapor.part > .islemTuslari #secimler.jqx-fill-state-hover { background-color: #c0cced } #dRapor.part > .islemTuslari #secimler.jqx-fill-state-pressed { background-color: #4860a2 }
#dRapor.part > .islemTuslari #tabloTanimlari.jqx-fill-state-normal { color: #3d4c7c; border: 1px solid #95989f !important; box-shadow: 1px 1px 5px 3px #c7cde7 }
#dRapor.part > .wnd-content > *:not(.bulForm):not(.islemTuslari) { background: white !important }
#dRapor.part #items {
	width: calc(var(--full) - 8px) !important; height: calc(var(--full) - var(--islemTuslari-height) - 5px) !important;
	margin: 0 !important; padding: 0 !important; box-sizing: border-box !important; overflow: hidden auto
}
#dRapor.part #items > .item {
	position: relative; min-width: 250px !important; width: 32%; height: 445px; margin: 0 !important; padding: 0 !important;
	border: 1px solid #eee; border-radius: 13px; box-sizing: border-box !important; float: left; z-index: 10
}
#dRapor.part #items > .item > :not(label) { max-height: calc(var(--full) - 50px) }
#dRapor.part #items > .item > * { }
#dRapor.part #items > .item.hasFocus { z-index: 1001 }
#dRapor.part #items:has(.jqx-grid:focus), #dRapor.part #items:has(.jqx-grid  *:focus) { overflow: hidden !important }
@media (max-height: 1000px) { #dRapor.part #items > .item { height: 350px } }
@media (max-height: 800px) { #dRapor.part #items > .item { width: 25%; height: 300px } }
#dRapor.part #items.maximized > .item.maximized { width: var(--full) !important; height: var(--full) !important }
#dRapor.part #items.maximized > .item:not(.maximized) { display: none }
#dRapor.part #items > .item > [data-builder-id = 'fullScreen'] { position: absolute; width: 32px !important; height: 32px !important; top: 10px !important; right: -10px !important; z-index: 1100 !important; box-sizing: border-box !important }
#dRapor.part #items > .item > [data-builder-id = 'fullScreen'] button { width: var(--full) !important; height: var(--full) !important; background-color: transparent !important; background-size: contain !important }
#dRapor.part #items > .item > [data-builder-id = 'fullScreen'] button.jqx-fill-state-normal { opacity: .5 }
#dRapor.part #items > .item > label { font-weight: bold; font-size: 140%; color: #777; background-color: #eee; width: calc(var(--full) - 10px); margin: 0 0 5px 0; padding: 0 0 3px 10px; border-radius: 10px }
#dRapor.part #items > .item.hasFocus > label { background-color: #c9cdd9; user-select: none }
.dRapor .anim-tabloTanimlari-highlight, #dRapor .anim-tabloTanimlari-highlight { border: 3px solid forestgreen !important; animation: 850ms infinite cubic-bezier(0.46, 0.03, 0.52, 0.96) anim-tabloTanimlari-hightlight }
@keyframes anim-tabloTanimlari-hightlight { 50% { background-color: #c9e0c9 } }
.dRapor.masterListe.part .jqx-grid [role = row] > div, #dRapor.part #items > .item .jqx-grid .jqx-grid-cell.toplam { font-weight: bold }
#dRapor.part #items > .item .jqx-grid .jqx-grid-cell:not(.jqx-grid-cell-selected).toplam { background-color: #f1fff1 }
#dRapor.part #items > .item[data-builder-id = 'main'] .jqx-grid .jqx-grid-cell:not(.leaf) { font-weight: bold; font-size: 125% }
#dRapor.part #items > .item[data-builder-id = 'main'] .jqx-grid .jqx-grid-cell.level-0:not(.leaf) { font-size: 135% }
#dRapor.part #items > .item[data-builder-id = 'main'] .jqx-grid tr:nth-child(even) .jqx-grid-cell:not(.jqx-grid-cell-selected).level-0:not(.leaf) { background-color: #e2e7f1 }
#dRapor.part #items > .item[data-builder-id = 'main'] .jqx-grid tr:nth-child(odd) .jqx-grid-cell:not(.jqx-grid-cell-selected).level-0:not(.leaf) { background-color: #ecf2fe }
#dRapor.part #items > .item[data-builder-id = 'main'] .jqx-grid .jqx-grid-cell.level-1:not(.leaf) { font-size: 130% }
#dRapor.part #items > .item[data-builder-id = 'main'] .jqx-grid tr:nth-child(even) .jqx-grid-cell:not(.jqx-grid-cell-selected).level-1:not(.leaf) { background-color: #f8e8d5 }
#dRapor.part #items > .item[data-builder-id = 'main'] .jqx-grid tr:nth-child(odd) .jqx-grid-cell:not(.jqx-grid-cell-selected).level-1:not(.leaf) { background-color: #e6d7c5 }
#dRapor.part #items > .item[data-builder-id = 'main'] .jqx-grid .jqx-grid-cell.level-2:not(.leaf) { font-size: 125% }
#dRapor.part #items > .item[data-builder-id = 'main'] .jqx-grid tr:nth-child(even) .jqx-grid-cell:not(.jqx-grid-cell-selected).level-2:not(.leaf) { background-color: #d4e6c5 }
#dRapor.part #items > .item[data-builder-id = 'main'] .jqx-grid tr:nth-child(odd) .jqx-grid-cell:not(.jqx-grid-cell-selected).level-2:not(.leaf) { background-color: #c7d5bb }
#dRapor.part #items > .item[data-builder-id = 'main'] .jqx-grid .jqx-grid-cell-selected { color: whitesmoke; background-color: #426aae }
#dRapor.part #items > .item[data-builder-id = 'main'] .jqx-grid .jqx-grid-cell-selected.icerik { font-weight: bold }
#dRapor.part #items > .item[data-builder-id = 'main'] .jqx-grid :not([data-role = 'summaryrow']) .jqx-grid-cell.treeRow.grup.icerik { font-size: 110%; font-weight: bold; color: forestgreen }
#dRapor.part #items > .item[data-builder-id = 'main'] .jqx-grid :not([data-role = 'summaryrow']) .jqx-grid-cell.treeRow.grup.icerik.jqx-fill-state-pressed { color: whitesmoke; border-bottom: 2px solid #8ee48e }
#dRapor.part #items > .item[data-builder-id = 'main'] .jqx-grid [data-role = 'summaryrow'] > .jqx-grid-cell { font-size: 110%; font-weight: bold; color: forestgreen }
#dRapor.part #items > .item .jqx-grid .jqx-grid-column-header { font-weight: bold; font-size: 130% }
#dRapor.part #items > .item .jqx-grid .jqx-grid-statusbar > div > .jqx-grid-cell { font-weight: bold; color: royalblue }
#dRapor.part #items > .item[data-builder-id = 'main'] .jqx-grid .jqx-grid-statusbar > div > .jqx-grid-cell { font-size: 80% !important }
#dRapor.part #items > .item[data-builder-id = 'ozet'] .jqx-grid .jqx-grid-statusbar > div > .jqx-grid-cell { font-size: 105% !important }
#dRapor.part #items > .item[data-builder-id = 'ozet'] .jqx-grid .jqx-grid-cell { font-size: 83% }

.secimler.dRapor.part .secimler-form > div { padding-top: 10px }
.secimler.dRapor.part .secimler-form .secim { padding: 5px }
.secimler.dRapor.part .secimler-form .secim > * { min-height: 30px !important }
