/*.jqx-grid [role = row] .grid-cell-group {
	font-size: 180%; color: whitesmoke; background-color: #333; height: calc(var(--full) / 1.2); padding: 0px 13px; padding-bottom: 0;
	line-height: 28px; word-break: break-word
}
.jqx-grid [role = row] .grid-cell-group > * { padding-top: 10px }*/
.jqx-grid [role = row] > * { font-size: 83% !important; line-height: 18px; word-break: break-word }
.jqx-grid [role = row] > * button { font-size: 100% }
@media (max-width: 1130px) { .jqx-grid [role = row] > * { font-size: 73% !important } .jqx-grid [role = row] > * button { font-size: 93% } }
.jqx-grid [role = row] > * > div { margin-top: 3px !important; padding: 0 3px; text-wrap: pretty !important }
.jqx-grid [role = row] > * .ek-bilgi { color: #999 }
.jqx-grid [role = row] > * > * .ek-bilgi { color: #555 }
.jqx-grid [role = row] .jqx-grid-cell { font-weight: bold; color: #333 }
.jqx-grid [role = row] .jqx-grid-cell-selected { font-weight: bolder !important; color: black !important; background-color: #82b5eb !important }


/*.masterListe.part .header > .islemTuslari #topluEMailGonder { margin-left: 30px }
.masterListe.part .header > .islemTuslari #topluEMailGonder.jqx-fill-state-normal { color: whitesmoke !important; background-color: royalblue !important }*/
