.simpleComboBox.part {
	/*--pad-x: 1%; --pad-y: 1px;*/
	position: relative;
	width: var(--full); height: 45px;
	margin-bottom: 5px; z-index: 50
}
.simpleComboBox.part:has(:focus) { z-index: 200 }
.simpleComboBox.part > input {
	width: var(--full); height: var(--full);
	/*padding: var(--pad-y) var(--pad-x);*/
	box-sizing: content-box
	/*border-radius: 15px*/
}
.simpleComboBox.part > input::placeholder {
	font-weight: bold; font-size: 90%;
	/*color: #4169e180*/ color: #165f2eb8
	/*padding: 0 10px*/
}
.simpleComboBox.part > button#liste {
	position: relative;
	/*transform: translateX(0px) translateY(0px);*/
	padding: 10px 20px; opacity: .2
}
.simpleComboBox.part > button#liste:hover { opacity: .7 }
.simpleComboBox.part > button#liste:active { opacity: 1 }
